src/com/eclipseuzmani/migrationtools/model/migrationtools.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.eclipseuzmani.com/migrationtools"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.eclipseuzmani.com/migrationtools">

	<complexType name="migrationToolsModelType">
		<sequence>
			<element name="pre" type="string" minOccurs="1" maxOccurs="1"></element>
			<element name="detail" type="string" minOccurs="1" maxOccurs="1"></element>
			<element name="post" type="string" minOccurs="1" maxOccurs="1"></element>
		</sequence>
	</complexType>

	<element name="migrationToolsModel" type="tns:migrationToolsModelType"></element>
</schema>